language: java
sudo: required
dist: trusty

jdk:
  - oraclejdk8

services:
  - postgresql

addons:
  postgresql: "9.6"

env:
  global:
    - PGPORT=5432
    - PGHOST=localhost

before_install:
  - chmod +x mvnw
  - sudo service postgresql restart
  - sleep 1

before_script:
  - psql -c "CREATE DATABASE prozorro-test;" -U postgres
  - sudo -u postgres psql -c "ALTER ROLE postgres WITH password 'password'"
  - psql -c 'CREATE SCHEMA "public" AUTHORIZATION postgres;' -U postgres -d prozorro-test

script:
  - mvn clean install -B

after_script:
  - echo "Script finished"

after_success:
  - echo "Build was successful. $TRAVIS_TEST_RESULT"

after_failure:
  - echo "Build was failed"